[push]
	default = current
[credential]
	helper = store
[user]
	email = mgerber59@gmail.com
	name = Marcel Gerber
[alias]
	delete-merged = !git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d
[core]
	autocrlf = true
